/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: baseline;
    padding: 20px 0 40px;
}

nav {
    width: 80%;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0 37px 0;
}

.jumbo {
    margin: 20px 0 60px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling boxes colors
 box1: teal
 box2: gold
 box3: cadetblue
 box4: coral
 box5: crimson
 box6: forestgreen
 box7: darkorchid
 box8: hotpink
 box9: indigo
 box10: dodgerblue
 */

.box1 {
    background: teal;
}

.box2 {
    background: gold;
}

.box3 {
    background: cadetblue
}

.box4 {
    background: coral;
}

.box5 {
    background: crimson;
}

.box6 {
    background: forestgreen;
}

.box7 {
    background: darkorchid;
}

.box8 {
    background: hotpink;
}

.box9 {
    background: indigo;
}

.box10 {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.about-page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.about-headerfooter {
    padding: 0 20px 20px;
}

.about-headerfooter:first-of-type{
    border-bottom: 1px dashed black;
}

.about-headerfooter:last-of-type {
    margin: 30px 0 20px;
}
.about-container {
    width: 47%;
    padding: 0 0 20px;
    margin: 10px;
    border-bottom: 1px dashed black;
}

.bottom {
    margin-top: 40px;
}
.about-container h2 {
    padding-top: 10px;
}

.about-container button {
    padding: 5px 20px 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}
.css-animation {
    animation-name: slideRight;
    animation-duration: 6s;
}

@keyframes Rotate {
    0% {transform: rotate(0%);}
    100% {transform: rotate(180deg);}
}

.box:hover {
    animation-name: Rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: black;
}    

hr {
    height: 3px;
    width: 18%;
    margin-left: 0;
    background-color: black;
    border: 1px solid black;
    transition: .3s ease-in-out;

}

.home:hover ~ hr{
    display: block;
    margin-left: -0%;
}

.about:hover ~ hr{
    display: block;
    margin-left: 20%;
}

.products:hover ~ hr{
    display: block;
    margin-left: 40%;
}

.blog:hover ~ hr{
    display: block;
    margin-left: 60%;
}

.contact:hover ~ hr{
    display: block;
    margin-left: 80%;
    background-color: black;
    border: none;
}


/* The tilde ~ is a general sibling selector
It separates 2 selectors and matches the 2nd element
ONLY if it follows the ifrst element (tho not necessarily
immed) and both are the children of the same parent element

img ~ p {
    color: red
}

^This is paragraphs that are siblings of and subsequent to
ANY image


EX: 
HTML
<div>
<p>Para One</p>
<p>Para Two</p>
<div>block</div>
<p>Para Three</p>
<p>Fourth Para</p>
</div>

CSS
p ~ p {
background-color: yellow;
color:blue;
font-size: 22px;
}

*/